/Arr.class
/Arr.java
/AssignmentTask1.class
/AssignmentTask1.java
/AssignmentTask2.class
/AssignmentTask2.java
/AssignmentTask3.class
/AssignmentTask3.java
/AssignmentTask4.class
/AssignmentTask4.java
/LabTask1.class
/LabTask2.class
/LinkedList.class
/Node.class